html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color: #FFEF74;
}

.google-sans-gsfont {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}


.row-column .main-title{
    text-align: center;
    padding: 1.0rem;
    margin: 0rem auto;
    background-color:#FFF5A7;
    border: solid 5px black;
    border-left: solid 0px black;
    border-right: solid 0px black;
}

.row-column .search{
    text-align: center;
    padding: 0.2rem;
    margin: 0rem auto;
    background-color:#AAA6A6;
    border: solid 5px black;
    border-left: solid 0px black;
    border-right: solid 0px black;
    border-top: solid 0px black;
}

.search-button{
    background-color:#DCDCDC;
    scale:1;
}

.search-text{
    font-size: 15px;
}

section header{
    margin:2rem;
}

.container{
    display:flex;
    width:75%;
    margin: 1rem auto;
    flex-direction: row;
    gap: 1rem;
}
.container-fluid{
    width:100%;
    height:100%;
}

.item-OR,.item-IR{
    border:#020202 solid 3px;
    border-radius: 10px;
    background-color: #FFF5A7;
}

.row{
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    background-color: #FFFFFF;
    padding: 0.7rem;
    border:#020202 solid 3px;
    border-radius: 10px;
    margin: 1rem ;
}

.row:hover{
    background: radial-gradient(white,antiquewhite);
    scale: 1.05;
    transition: all 0.2s;
} 

.item{
    border:solid 1px black;
    border-radius: 10px;
    padding: 1rem;

}
.col{
    flex:1 1 auto;
}
.row-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    height:100%;
}

h1,h2,h3,.project p{
    text-align: center;
}

img{
    max-width: 100%;;
    height:auto;
}

.main-title{
  background-color: #ffe761;
  font-size: 2rem;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

nav{
    background-color: #ebedf0;
    padding:1rem;
}
nav a{
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 900;
    color: #54524d;
}

#skills{
    background-color: #AAA6A6;
    padding:2rem;
    border-top: #020202 solid 5px;
    border-bottom: #020202 solid 5px;
}

nav ul,#skills ul{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap:2rem;
}

#skills ul{
    justify-content: center;
}

nav ul li,#skills ul li, footer ul li{
    list-style: none;
    align-items: center;
}
#skills ul li{
    border:solid 3px black;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
}
#hamburger-menu{
    display: block;
}
nav{
    display: none;
}

.project:hover, #skills ul li:hover{
    background: radial-gradient(white,antiquewhite);
    scale: 1.05;
    transition: 0.2s all ease-in-out;
}
.project *{
    margin:1rem auto;
}
.project-img{
    display: block;
    width:500px;
    height:500px;
    border:#020202 solid 5px;
    border-radius: 10%;
}
.map-img{
    scale:1.1;
    border:#020202 solid 3px;
}


.pn-title{
    font-size: 35px
}

#info-container #pn-container{
    background-color: #D9D9D9;
    border:#020202 solid 3px;
    margin: auto;
    scale:1.2;
}

.pfps-img{
    display: block;
    margin-right: 20 px;
    width:50px;
    height:50px;
    border:#020202 solid 3px;
    border-radius: 25%;
}

.accept{
    background-color: rgb(184, 251, 184);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 25%;
    scale:1.5
}

.decline{
    background-color: rgb(255, 185, 185);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 25%;
    border-radius: 25%;
    scale:1.5
}

.accept:hover, .decline:hover{
    scale:1.7;
    transition: 0.2s;
}

#custom-button{
    background-color: #ffffff;
    margin:1rem auto;
    padding: 10px;
    border:#020202 solid 3px;
    border-radius:10px
    
}

#custom-button:hover{
    scale:1.05;
    transition: 0.2s;
    background-color: #d4d4d4;
}

.accept:hover{
    background: rgb(0, 255, 0);
}

.decline:hover{
    background: rgb(255, 0, 0);
}

.request-container{
    display: flex;
    flex-direction: row;
    gap:2rem;
    justify-content: center;
    align-items: stretch;
    align-content: center;
}

.project .project-title{
    font-weight: 900;
    font-size: 1.5rem;
}

.center{
    margin:1rem auto;
}

.text-center{
    text-align: center;
}

@media (min-width:576px){

}

@media (min-width:768px){
    
}

@media (min-width:992px){

}

@media (min-width:1200px){
     #hamburger-menu{
        display: none;
    }
    nav{
        display: block;
    }
    nav ul, #skills ul,.row{
        flex-direction: row;
    }
}